<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur10" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- ur10 -->
  <xacro:include filename="$(find ur_description)/urdf/ur10.xacro" />

  <!-- world -->
  <link name="world" />

  <!-- rail -->
  <xacro:include filename="$(find my_robot_description)/urdf/rail.xacro" />

  <xacro:rail prefix="" parent="world" child="base_link" >
    <origin xyz="0 0 0.05" rpy="0 0 0" />  
  </xacro:rail>

  <!--Floor-->
  <xacro:include filename="$(find my_robot_description)/urdf/floor.xacro" />
  <xacro:floor prefix="" parent="world" >
    <origin xyz="0 -0.85 0" rpy="0 0 0" />  
  </xacro:floor>

  <!--Materials-->
  <xacro:include filename="$(find my_robot_description)/urdf/materials.xacro" />

</robot>
